<div class="pure-g menu">
    <div class="pure-u-1">
        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item"><a href="https://talk.radicalreading.club" class="pure-menu-link">Talk</a></li>
                <li class="pure-menu-item"><a href="/code-of-conduct" class="pure-menu-link">Code of conduct</a></li>
                <li class="pure-menu-item"><a href="/terms-of-use" class="pure-menu-link">Terms of use</a></li>
            </ul>
        </div>
    </div>
</div>
